#include ".cache/squash/colors"

#include ".xres/xft"
#include ".xres/urxvt"
#include ".xres/rofi"
#include ".xres/twobwm"

! Colors
*background:   bg
*foreground:   fg
*color0:      blk
*color8:      bblk
*color1:      red
*color9:      bred
*color2:      grn
*color10:     bgrn
*color3:      ylw
*color11:     bylw
*color4:      blu
*color12:     bblu
*color5:      mag
*color13:     bmag
*color6:      cyn
*color14:     bcyn
*color7:      wht
*color15:     bwht
