@import "file:///home/jle/.cache/squash/colors.css";

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

	/* COLORS */

	/** DESCRIPTION : set the colors used **/
	:root {
        --focus-bg: var(--color15) !important;
        --nav-bg: var(--color15) !important;
        --tab-bg: var(--color7) !important;
        --tool-bg: var(--color15) !important;
        --url-bg: var(--color15) !important;
        --tab-bg-select: var(--color15) !important;
        --border-color: var(--color15) !important;
        --primary-color: #212121 !important;
        --invert: invert(0) !important;
	}

	/* GENERAL */

	/** DESCRIPTION : set the main font and others details **/
	* {
		font-family: "Dina" !important;
	}

	*::-moz-focus-inner {
		border: 0;
	}

	html {
		overflow: auto;
	}

	#main-window:not([chromehidden*="toolbar"])[sizemode="normal"] {
		margin-top: 0px !important;
		margin-right: -2px !important;
		margin-left: -1px !important;
	}

	#downloads-indicator-anchor,
	.toolbarbutton-1 > .toolbarbutton-icon, 
	.toolbarbutton-1 > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    		filter: brightness(1) var(--invert) !important;
	}

	#PersonalToolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover, 
	.tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled="true"]):hover, 
	.tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled="true"]):hover, 
	.findbar-button:not(:-moz-any([checked="true"], [disabled="true"])):hover > .toolbarbutton-text, 
	toolbarbutton.bookmark-item:not(.subviewbutton):hover:not([disabled="true"]):not([open]), 
	toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon, 
	toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text, 
	toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack {
		background-color: transparent !important;
	}

	.autocomplete-history-dropmarker.urlbar-history-dropmarker,
	#identity-box,
	#page-action-buttons,
	.panel-arrow,
	#PanelUI-menu-button,
	.search-one-offs,
	#sidebar-header,
	#stop-reload-button,
	.tabs-newtab-button,
	#TabsToolbar .tabbrowser-tab:after,
	#TabsToolbar .tabbrowser-tab:before,
	#titlebar-min,
	#titlebar-max,
	.titlebar-placeholder[type="pre-tabs"] {
		display: none !important;
	}

	/* POPUP */

	/** DESCRIPTION : change the elements of the popup dialog **/
	[class^=PanelUI-],
	#downloadsFooterButtons,
	#downloadsListBox,
	#emptyDownloads,
	.panel-subview-body,
	.panel-subview-footer,
	menupopup,
	menupopup > menu > menupopup,
	popup,
	popup > menu > menupopup {
		-moz-appearance: none !important;
		background: var(--nav-bg) !important;
		border: none !important;
	}

	menupopup,
	menupopup > menu > menupopup,
	popup,
	popup > menu > menupopup {
		padding: 10px !important;
	}

	menuitem,
	menupopup menu {
		-moz-appearance: none !important;
		color: var(--primary-color)!important
	}

	menupopup menuseparator {
		-moz-appearance: none !important;
		background: rgba(0, 0, 0, 0) !important;
		border: 0 !important;
	}

	#context-navigation menuitem,
	.panel-arrowcontent {
		background-color: var(--nav-bg) !important;
		color: var(--primary-color) !important;
		padding-bottom: 10px !important;
	}

	#context-navigation,
	#context-sep-navigation {
		padding: 0 !important;
	}

	/* TOOLBAR */

	/** DESCRIPTION : change the elements in the toolbar **/
	#navigator-toolbox {
		/*** TOOLBAR TOOLBOX ***/
		background: var(--nav-bg) !important;
	}

	#navigator-toolbox > toolbar {
		box-shadow: none !important;
	}

	#navigator-toolbox toolbar #menubar-items {
	    margin-top: 10px !important;
	    margin-bottom: 10px !important;
	    margin-left: 10px !important;
	}

	#navigator-toolbox toolbar #menubar-items * {
		color: var(--primary-color);
		font-size: 10pt !important;
	}

	/* PERSONAL TOOLBAR */

	/** DESCRIPTION : change the elements of the personal toolbar **/
	#PersonalToolbar {
	    height: 40px !important;
	    padding-top: 2px !important;	
	}

	/* TABBAR */

	/** DESCRIPTION : change the elements in the tabbar **/
	#TabsToolbar {
		/*** TABBAR TOOLBAR ***/
		background: var(--tool-bg) !important;
		margin-bottom: 0 !important;
	} 

	.tabbrowser-tab {

		/*** TABBAR TABS ***/
		background: var(--tab-bg) !important;
		color: var(--primary-color) !important;
		transition: all 0.3s ease-in-out;
	}

	.tabbrowser-tab:hover {
		transition: none !important;
	}

	.tab-background[selected="true"] {

		/*** TABBAR TABS SELECTED ***/
		background: var(--tab-bg-select) !important;
		height: 20px !important;
		margin-top: -3px !important;
	}

	:root:not([uidensity="compact"]) .tab-content[pinned] {

		/*** TABBAR TABS PINNED ***/
	    padding: 0 17px !important;
	}

	.tab-label-container {

		/*** TABBAR TABS CONTENT ***/
	    font-size: 10pt !important;
	}

    .tab-icon-image:not([pinned]) {
        display:none !important;
    }

	#tabbrowser-tabs .tab-close-button {

		/*** TABBAR TABS CLOSE BUTTON ***/
		background: url('http://imgur.com/4GlrMN7.png') no-repeat 50% 50%;
		background-size: 20px auto !important;
		height: 0px !important;
		width: 0px !important;
		padding: 10px 0 0 20px !important;
		opacity: 0 !important;
		margin-right: 5px !important;
		filter: brightness(0) var(--invert) !important;
	}

	#tabbrowser-tabs .tab-close-button:hover {
		background: url("http://i.imgur.com/tssw3Nx.png") no-repeat 50% 50% !important;
		background-size: 20px auto !important;
		padding: 10px 0 0 20px !important;
		opacity: .5 !important;
	}

	#titlebar-close {

		/*** TABBAR CLOSE BUTTON ***/
		list-style-image: url("https://i.imgur.com/qzZ5RJH.png") !important;
	}

	#titlebar-close:hover {
		background-color: transparent !important;
		opacity: .5 !important;
	}

	.titlebar-button > .toolbarbutton-icon {
		width: 15px !important;
		height: 15px !important;
	}

	/* NAVBAR */

	/** DESCRIPTION : change the elements of the navbar **/
	#nav-bar {
		border-bottom: 1px solid var(--border-color) !important;
		margin-bottom: -1px !important;
	}
	
	#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
		background: var(--nav-bg) !important;
		border-color: transparent !important;
	}

	#nav-bar #back-button > .toolbarbutton-icon {

		/*** NAVBAR BACK BUTTON ***/
		background: url("http://i.imgur.com/tONrOjq.png") !important;
		background-repeat: no-repeat !important;
		background-size: 30px auto !important;
		background-position: center center !important;
		border: none !important;
		height: 0px;
		width: 0px;
		padding: 30px 0px 0px 15px !important;
		margin-top: 0px !important;
	}

	#nav-bar #back-button#back-button#back-button>image.toolbarbutton-icon {
		box-shadow: none !important;
	}

	#nav-bar #back-button {
		list-style-image: none !important;
	}

	#nav-bar #forward-button {

		/*** NAVBAR FORWARD BUTTON ***/
		background: url("http://i.imgur.com/fAZe280.png") !important;
		background-repeat: no-repeat !important;
		background-size: 30px auto !important;
		background-position: center center !important;
		border: none !important;
		width: 0px;
		height: 0px;
		padding: 30px 0px 0px 15px !important;
		margin-top: 0px !important;
		margin-right: 0px;
		margin-left: -10px !important;
		filter: brightness(0) var(--invert) !important;
	}

	#searchbar > .searchbar-textbox,
	#urlbar {

		/*** NAVBAR URL BAR ***/
	    background: transparent !important;
	    border: none !important;
	    box-shadow: none !important;
	    color: var(--primary-color) !important;
	}

	.urlbar-textbox-container {

		/*** NAVBAR URL BAR TEXT CONTAINER ***/
	    margin-top: -1px !important;
	    margin-left: 5px !important;
	}

	#PopupAutoCompleteRichResult {

		/*** NAVBAR URL BAR DROP LIST ***/
		border: none !important;
		margin-top: -1px !important;
	}

	#PopupAutoCompleteRichResult .autocomplete-richlistbox {
		background: var(--nav-bg) !important;
		color: var(--primary-color) !important;
	}

	#PopupAutoCompleteRichResult .autocomplete-richlistbox * {
		font-size: 10pt !important;
	}

	#nav-bar-overflow-button {

		/*** NAVBAR ADDON BUTTON ***/
    	margin-right: 5px !important;
	}

	:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #PanelUI-button {

		/*** NAVBAR PANEL BUTTON ***/
		border-color: transparent !important;
		border-image: none !important;
	}

	:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #PanelUI-button #PanelUI-menu-button {
		filter: brigthness(1) var(--invert) !important;
	} 

	/* HISTORY */

	/** DESCRIPTION : change the elements of the history sidebar **/
	#sidebar-box {
	    background-color: var(--nav-bg) !important;
	}

	hbox#sidebar-search-container textbox#search-box {
  		-moz-appearance: none!important;
		background-color: var(--tab-bg) !important;
		border: 0px solid var(--border-color) !important;
		color: var(--primary-color) !important;
		font-size: 10pt !important;
	}

	.sidebar-placesTreechildren,
	#viewButton {
	    color: var(--primary-color) !important;
	    font-size: 10pt !important;
	}

	.sidebar-placesTreechildren:hover {
		background: var(--tab-bg) !important;
	}

	/* CUSTOMIZATION */

	/** DESCRIPTION : change the elements of the customization page **/
	#customization-container {
		background: var(--tool-bg) !important;
		color: var(--primary-color) !important;
	}

	.customizationmode-button {
		background: var(--tab-bg) !important;
		border-color: var(--border-color) !important;
		color: var(--primary-color) !important;
    }
